/* header */

.header3{
    color: rgb(134, 134, 75);
    height: 10vh;
   
    padding: 5px;
    text-align: center;
    background-color: rgb(2, 5, 26);
    letter-spacing: 10px;
}
.header3::first-letter{
  color: rgb(253, 139, 1);
    font-size: 50px;
}
.s3{
    color: rgb(231, 143, 10);
    font-size: 30px;
}

/* artical */


.artdiv2{
    margin-top: 0px;
    background-color: rgb(194, 196, 227);
    padding: 40px;
    
    
}

.arthead3{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 14, 77);
}
.arthead3:hover{
    letter-spacing: 3px;
    transform: scale(1.03);
    transition: 0.3s;
    color: rgb(4, 88, 88);
     
    

}
.article34{
  
    height: 180vh;
    padding: 30px;
     
     
}
.Tperegraph{
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    text-indent: 60px;
    
}
 
.p1{
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    
}
.p1:hover{
    transform: scale(1.01);
    transition: 0.1s;
    
}

/* footer */



.footer900 {
    margin: 0;
    padding: 0;
    height: 70px;
  }
  
  /* Style the footer background and text */
  .footer900 {
    background-color: #000000e8;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 100%;
  }
    
  /* Style the content within the footer */
  .footer-content900 {
    max-width: 1200px;
    margin: 0 auto;
    display: inline-table;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* Style the copyright text */
  .footer-content900 p {
    margin: 10;
    padding-bottom: 10px;
  
  }
  
  /* Style the links in the footer */
  .footer-content900 ul {
    list-style: none;
    padding: 15px;
    padding-bottom: 22px;
    display: flex;
    gap: 29px;
    justify-content: center;
    background-color: rgba(140, 163, 186, 0.979);
    border-radius: 20px;
    padding: 15px;
    
  
  
  }
  .footer-content900 ul:hover{
    transform: scale(1.1);
    transition: 0.4s;
  }
  
  .footer-content900 ul li {
    display: inline;
    
  }
  
  .footer-content900 ul li a {
    color: #1e1d1f;
    text-decoration: none;
    

  } 
  .footer900 ul li a:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  
  /* Change link color on hover */
   .footer-content900 ul li a:hover {
    text-decoration: underline;
    color: rgb(4, 18, 145);
    text-decoration: none;
     font-size: 19px;
     transition: 0.4s;
     border-bottom: 2px solid rgb(66, 2, 54);
     border-radius: 5px;
  
  }

 
 